html {
    scroll-behavior: smooth;
}
.footer {
    width: 100%;
    bottom: 0;
    text-align: center;
}

.section {
    height: 100vh;
    scroll-margin-top: 3.0rem;
}
.section:nth-child(odd) {
    background-color: var(--primaryColour);
}
.section:nth-child(even) {
    background-color: var(--secondaryColour);
}
#main-nav {
    position: sticky;
    top: 0;
    z-index: 10;
}